# Rename this file to .env and fill in your values
# This file is an example and should NOT contain your real secrets

OPENWEATHER_API_KEY="your_openweather_api_key_here"
SENDER_EMAIL="your_gmail@gmail.com"
SENDER_PASS="your_16_digit_app_password"
RECEIVER_EMAIL="receiver_email@example.com"
CITIES="Hyderabad,Mumbai,Kolkata"

# Set alert method: "email" (default) or "desktop"
ALERT_METHOD="email"
